<!doctype html>
<html lang="pt-bt" xmlns:th="http://www.w3.org/1999/xhtml">
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
</head>

<body class="app-container">
<h1>TODO WEB APP</h1>
<div class="login-container">
<div class="login-form">
    <h2>Adicionar Tarefa</h2>
    <form action="/create" class="form-group" method="post" >

        <label for="titulo" class="label">Título</label>
        <input type="text" id="titulo" name="titulo" required>

        <label for="descricao" class="label">Descrição</label>
        <input type="text" id="descricao" name="descricao" required>
        <label class="label">Prioridade</label>

        <select name="prioridade" id="prioridade">
            <option value="3">Baixa</option>
            <option value="2">Média</option>
            <option value="1">Alta</option>
        </select>

        <input type="hidden" id="status" name="status" value="PENDENTE">


        <div style="text-align: center;">
            <button class="button" type="submit">Criar</button>
        </div>
    </form>
</div>
</div>


<h2>Tarefas Pendentes</h2>
<table>
    <thead>
        <tr>
            <td>Titulo</td>
            <td>Descrição</td>
            <td>Ação</td>
        </tr>
    </thead>
    <tbody>
        <tr th:each="todo : ${todos}">
            <th th:text="${todo.titulo}">Titulo</th>
            <th th:text="${todo.descricao}">Descrição</th>
            <th>
                <form th:action="@{'/todos/concluir/' + ${todo.id}}" method="post">
                <button type="submit">Concluir</button>
            </form></th>
        </tr>
    </tbody>
</table>

<h2>Tarefas Concluìdas</h2>
<table>
    <thead>
        <tr>
            <td>Titulo</td>
            <td>Descrição</td>
            <td>Status</td>
        </tr>
    </thead>
    <tbody>
        <tr th:each="todo : ${todos}" th:if="${todo.status.name() == 'CONCLUIDO'}">
            <th th:text="${todo.titulo}">Titulo</th>
            <th th:text="${todo.descricao}">Descrição</th>
            <th th:text="${todo.status}">Ações</th>
        </tr>
    </tbody>
</table>

<script>
    const form = document.getElementById('tarefaForm');
    const lista = document.getElementById('listaTarefas');

    form.addEventListener('submit', async (e) => {
      e.preventDefault();

      const titulo = document.getElementById('titulo').value;
      const usuarioId = document.getElementById('usuarioId').value;

      const novaTarefa = {
        titulo: titulo,
        concluida: false,
        usuario: {
          id: parseInt(usuarioId)
        }
      };

      try {
        const response = await fetch('http://localhost:8080/tarefas', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(novaTarefa)
        });

        if (!response.ok) {
          throw new Error('Erro ao cadastrar tarefa');
        }

        const tarefaSalva = await response.json();

        // Adiciona na lista
        const item = document.createElement('li');
        item.textContent = `#${tarefaSalva.id} - ${tarefaSalva.titulo}`;
        lista.appendChild(item);

        // Limpa o formulário
        form.reset();

      } catch (err) {
        alert(err.message);
      }
    });
</script>
</body>
</html>